<h2><strong>Products</strong></h2>

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <app-product-alerts
    [product]="product"
    [title]="'Share'"
    (notify)="onShare()"
  ></app-product-alerts>
  <app-product-alerts
    [product]="product"
    [title]="'Notify Me'"
    (notify)="onNotify()"
  ></app-product-alerts>
</div>
